.BookBanner .BackgroundImage {
  background-size: 500px !important;
}

.BookBanner--Box {
  position: relative;
  margin: auto;
  width: 90%;
  background: white;
  border: 3px solid var(--tertiary);
  color: var(--primary);
  text-align: center;
  padding: 3rem 2rem;
  max-width: 80rem;
}

.BookBanner--Box p {
  max-width: 60rem;
  margin: 2rem auto 2.5rem;
}

.BookBanner--Box--Button {
  margin: auto;
  max-width: 25rem;
}

.BookBanner--Title {
  color: var(--tertiary);
}
