.HealthProviders {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.HealthProviders--Item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10rem;
  margin: 2rem;
}

.HealthProviders--Item > * {
  width: 15rem;
  height: auto;
}
