.NavPopup {
  display: none;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
  width: 100vw;
  height: 100vh;
  background: var(--primary);
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-size: 3rem;
}

@media (max-width: 1000px) {
  .NavPopup.active {
    display: flex;
  }
}

.NavPopup .NavLink {
  color: white;
  text-decoration: none;
}
.NavPopup .NavLink:hover,
.NavPopup .NavLink:focus {
  color: var(--tertiary);
}

.NavPopup .NavLink + .NavLink:before {
  content: '';
  display: block;
  width: 4rem;
  height: 3px;
  background: var(--tertiary);
  margin: 1.5rem auto;
}

.NavPopup--CloseButton {
  color: var(--tertiary);
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-left: auto;
  cursor: pointer;
}

.NavPopup--CloseButton:hover svg g,
.NavPopup--CloseButton:focus svg g {
  stroke: white;
}

.NavPopup--IconLink {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 3rem 0;
}

.NavPopup--IconLink:hover,
.NavPopup--IconLink:focus {
  color: var(--tertiary);
}

.NavPopup--IconLink--Icon {
  max-height: 3rem;
  max-width: 3rem;
  width: auto;
  display: inline-block;
  margin-right: 2rem;
  position: relative;
  top: -2px;
}

.NavPopup--BookNow {
  background: none;
  width: 100%;
}
