.PageHeader {
  color: white;
  background: var(--primary);
  text-align: center;
  padding-bottom: 25rem;
  padding-top: 5rem;
  position: relative;
}

.PageHeader .Gradient{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, transparent, rgba(43,149,210, 0.9) 70%);
  z-index: 9;
}

.PageHeader .Container{
  z-index: 99;
}

.PageHeader .Container > *:last-child {
  margin-bottom: 0;
}

.PageHeader--Title {
  color: white;
}

.PageHeader--Subtitle {
  color: inherit;
}

.PageHeader--InnerWrap {
  max-width: 70rem;
  margin: auto;
}

.PageHeader--Overlay {
  background: var(--primary);
  opacity: 0.3;
  filter: brightness(70%);
}

@media (min-width: 1050px) {
  .PageHeader {
    padding-bottom: 20rem;
    padding-top: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
  }

  .PageHeader--InnerWrap {
    margin-left: 0;
  }
}

@media screen and (max-width:1050px){
  .PageHeader .Gradient{
    background: rgba(43,149,210, 0.8) !important;
  }
}
